<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.drton.jmavlib"
    android:versionCode="1"
    android:versionName="1.0">

    <application>
        <provider
            android:authorities="${applicationId}.jmavlibinitprovider"
            android:exported="false"
            android:enabled="true"
            android:name=".internal.JMAVLibInitProvider" />
    </application>

</manifest>
